html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li, a{
	list-style: none;

}
blockquote, q {
	quotes: none;
    
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**------------------Reset----------------------**/
body {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/public/Images/background_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}


header {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    margin: 15px 30px 0 30px;

}

img {
    transition: width 3s, 
}

.navLink {
    display: flex;
    align-items: center;
    
}

.navLink li {
    margin-right: 30px;
    padding: 15px 5px;

}
.navLink li:hover {
    margin-right: 30px;
    padding: 15px 5px;
    background-image: url("/public/Images/Icon_background_hover.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;

}

.sub ul{
    display: none;
}

.navLink li, .navLink a {
    font-family: "Protest Revolution", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.btnContact, .btnContact a{
    font-family: "Protest Revolution", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background:none ;
    border: none;
    padding: 10px 0; 
}

.btnContact:hover {
    font-family: "Protest Revolution", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background:none ;
    border: none;
    background-image: url("/public/Images/Icon_background_hover.png");
    background-repeat: no-repeat;
    background-position: center;

}


/*.logo {
    font-family: "Protest Revolution", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background-image: url("/background_icon.png");
    border-radius: 5px;
    padding: 10px;
    margin: 4px 0 40px 0;
    text-decoration: none;
}*/

Main {
    max-width: 980px;
    margin: 100px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

}
